@import './assets/css/satoshi';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Satoshi-BlackItalic'; 
  overflow-x: hidden; 
  cursor: url('cursor.png'), auto;	
}

button {
  border: 2px solid;
  padding: 15px;
  color: #2568fb;
}

.design, h1 {
  font-family: 'CabinetGrotesk-Black'; 
}

.design {
  background: linear-gradient(to right, #00FFC3 0%, #0091FF 64%, #0000CF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.code {
  background: black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

span {
  font-family: 'Satoshi-Bold';
  font-size: 20px;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

img.rounded {
  object-fit: cover;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.fade-in-left, .fade-in-right {
  opacity: 0;
  transition: opacity 1s ease-in, transform 1s ease-in;
}

.fade-in-left { transform: translateX(-100px); }
.fade-in-right { transform: translateX(100px); }

.fade-in-left.in-view, .fade-in-right.in-view {
  opacity: 1;
  transform: translateX(0);
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: #2568fb;
  transform-origin: 0%;
}

html {
  scroll-behavior: smooth;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
  40% { transform: translateY(-10px); }
  60% { transform: translateY(-5px); }
}

.bounce {
  animation: bounce 2s infinite;
}

.link {
  text-decoration: none;
  font-weight: 700;
  position: relative;
}

.link::before {
  content: '';
  background-color: hsla(196, 61%, 58%, .75);
  position: absolute;
  left: 0;
  bottom: 3px; 
  width: 100%;
  height: 8px;
  z-index: -1;
  transition: all .3s ease-in-out;
}

.link:hover::before {
  bottom: 0;
  height: 100%;
}

.float-label-input {
  margin: 32px 0;
}

.float-label-input:focus-within label,
.float-label-input input:not(:placeholder-shown) + label {
  transform: translateY(-1.5rem) scale(0.75);
  background-color: white;
}
