@import './assets/css/satoshi';

@tailwind base;
@tailwind components;
@tailwind utilities; 


body {
  font-family: 'Satoshi-BlackItalic'; 
  overflow-x: hidden; 
  cursor: url('cursor.png'), auto;	
}

button{
  border: 2px solid;
  padding: 15px;
  color: #fecd45;


}

h1 {
   font-family: CabinetGrotesk-Black;
}
span{
  font-family: 'Satoshi-Bold';
  font-size: 20px;
}


@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

img.rounded {
  object-fit: cover;
  border-radius: 50%;
  height: 100px;
  width: 100px;
} 

.fade-in-left {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}
.fade-in-right {
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}

.fade-in-left.in-view, .fade-in-right.in-view{
  opacity: 1;
  transform: translateX(0);
}


.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: #fecd45;
  transform-origin: 0%;
}


/* a {
	text-decoration: none;
	font-weight: 700;
  position: relative;
}

a::before {
  content: '';
  background-color: hsla(196, 61%, 58%, .75);
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 8px;
  z-index: -1;
  transition: all .3s ease-in-out;
}

a:hover::before {
  bottom: 0;
  height: 100%;
} */


html {
  scroll-behavior: smooth;
}

