@tailwind base;
@tailwind components;
@tailwind utilities; 

body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

@font-face {
  font-family: 'Futura Bold';
  src: url('./assets/fonts/futura_bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
svg {
  fill: currentColor;
  height: auto;
  max-width: 66vmin;
  transform-origin: center;
  width: 66%;
  animation-name: spin;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.fade-in-left {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}
.fade-in-right {
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}

.fade-in-left.in-view, .fade-in-right.in-view{
  opacity: 1;
  transform: translateX(0);
}

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}
